.grid-container {
    height: 50%;

}

.grid-item-new {
    display: flex;
    align-items: center;
    height: 70px;
    padding: 0 1em;
}

.grid-item-view {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}

.grid-item-search {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 70px;
    padding: 0 1em
}

.grid-btn {
    text-transform: capitalize;
}

.m1 {
    margin: 1em !important;

}

.grid-container-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.btn-search {
    margin: "1em 1em 1em 0"
}